html {
  font-size: 62.5%;
}
@media (max-width: 991px) {
  html {
    font-size: 51.67%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 373px) {
  html {
    font-size: 19.43%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Sarpanch", "Gowun Dodum", "Roboto", sans-serif;
  overflow-x: hidden;
}

/* @media (max-width: 00px) {
  .App > * {
    width: 120rem;
  }
} */

.App > * {
  max-width: 120rem;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: orange;
}
a:active {
  text-shadow: 0 0.01rem 0.055rem darkorange, 0 0.01rem 0.03rem orange;
}

/* rgba(21, 247, 105, 0.5) */
